* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Apercu;
    src: url(../Fonts/Apercu\ Regular.otf);
}

@font-face {
    font-family: ApercuBold;
    src: url(../Fonts/Apercu\ Bold.otf);
}

@font-face {
    font-family: ApercuLight;
    src: url(../Fonts/Apercu\ Light.otf);
}

@font-face {
    font-family: KreonBold;
    src: url(../Fonts/Kreon-Bold.ttf);
}

:root {
    --imgHeight: 11.25rem;
    --pdtop: 12rem;
}

/* Light mode (default) */
@media (prefers-color-scheme: light) {
    :root {
        --green: hsl(153, 57%, 63%);
        --brown: #d6a66b;
        --gray: #e7e7e7;
        --lightGray: #f2f2f2;
        --white: white;
        --black: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --green: #318138;
        --brown: #e3a75f;
        --gray: #3b4c5e;
        --lightGray: #313f4e;
        --white: #293542;
        --black: white;
    }
}