* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
    font-family: Apercu;
}

@font-face {
    font-family: Apercu;
    src: url(/public/fonts/Apercu\ Regular.otf);
}

@font-face {
    font-family: ApercuBold;
    src: url(/public/fonts/Apercu\ Bold.otf);
}

@font-face {
    font-family: ApercuLight;
    src: url(/public/fonts/Apercu\ Light.otf);
}

@font-face {
    font-family: KreonBold;
    src: url(/public/fonts/Kreon-Bold.ttf);
}

:root {
    --imgHeight: 11.25rem;
}

/* Light mode (default) */
@media (prefers-color-scheme: light) {
    :root {
        --green: hsl(153, 57%, 63%);
        --brown: #d6a66b;
        --gray: #e7e7e7;
        --lightGray: #f2f2f2;
        --white: white;
        --black: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --green: #318138;
        --brown: #e3a75f;
        --gray: #3b4c5e;
        --lightGray: #313f4e;
        --white: #293542;
        --black: white;
    }
}

/* BELOW 1980px */
@media (max-width: 1130px) {
    :root {
        --imgHeight: 9rem;
    }
    .wrapper {
        width: 80%;
        min-width: 600px;
    }
    section div.recipe-grid {
        grid-template-columns: 0.6fr 0.9fr 0.9fr;
        grid-template-rows: repeat(5, auto);
    }

    div.recipe-grid aside:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 5;
    }

    div.recipe-grid aside:nth-of-type(2) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    div.recipe-grid aside:nth-of-type(3) {
        grid-column: 2 / 4;
        grid-row: 1 / 5;
    }

    div.recipe-grid aside:nth-of-type(4) {
        display: none;
    }

    div.recipe-grid aside:nth-of-type(5) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    div.recipe-grid aside:nth-of-type(6) {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }
    i:not(.fa-cookie-bite) {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }
}

@media (max-width: 700px) {
    :root {
        --imgHeight: 4rem;
    }

    header nav a {
        padding-inline: 0.5rem;
        font-size: 0.8rem;
    }

    .wrapper {
        width: 75%;
        min-width: 300px;
    }

    section div.recipe-grid {
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: repeat(4, auto);
    }

    div.recipe-grid aside:nth-of-type(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    div.recipe-grid aside:nth-of-type(2) {
        display: none !important;
    }

    div.recipe-grid aside:nth-of-type(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    div.recipe-grid aside:nth-of-type(5) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    div.recipe-grid aside:nth-of-type(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    i:not(.fa-cookie-bite) {
        font-size: 1.5rem;
    }
}

/* ABOVE 1980px */
@media (min-width: 1950px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 2300px) {
    html {
        font-size: 22px;
    }
}